/* Globales */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #3ead47;
}

.section {
    padding-top: 80px;
    letter-spacing: 0.5px;
    font-size: 18px;
    height: 60%;
}

.align-left {
    display: flex;
    padding: 20px;
    text-align: left;
    height: auto;
    width: 40%;
}

.parrafo-green {
    color: #308a38;
}

.separador {
    border: 2px solid rgb(180, 180, 180);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 4px;
}

.pie-imagen {
    padding: 8px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    margin-left: 10px;
}

aside {
    padding-bottom: 20px;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.align-center {
    display: flex;
    padding: 20px;
    text-align: justify;
    width: 100%;
}

.content {
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 60px -16px #308a38;
    padding: 4px;
    margin: 4px;
}

footer {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 20px;
    display: block;
}

.footer-text {
    color: #fff;
    text-align: center;
}

.footer-text:hover {
    color: #3ead47;
}
