/*
p {
    border: 2px solid black;
    background: orange;
    display: block;
    margin: 50px 0px;
}
p#ghost {
    display: none;
}
*/

.padre {
    width: 250px;
    height: 2500px;
    margin: 25px;
    background: orange;
}
/*
.padre > div {
    display: inline-block;
}
*/
.hijo2 {
    width: 100px;
    height: 100px;
    background: green;
    float: right;
}

.hijo1 {
    width: 50px;
    height: 50px;
    background: red;
    display: inline-block;
}
.hijo3 {
    width: 50px;
    height: 50px;
    background: blue;
    clear: both;
}

/* 
Margin: Aplica al extenior del elemento.
Padding: Aplica al interior del elemento.

Display: 
    block: Se bloquea el elemento y ocupa el tamaño total.
    inline-block: Se colocan uno al lado del otro, siempre y cuando haya espacio.
    inline: Se colocan uno al lado del otro, pero es solo un bloque de linea.
    none: Oculta el elemento.

Position:
    static: Se quedan en el sitio por defecto.
    relative: Puedo decirle en que punto moverse respecto al origen.
    absolute: Cuando un elemento tiene un absolute es como si no existiera para el resto de elementos en cuanto a posicionamiento. 
    fixed: Se posiciona con respecto al body.
*/