/*
p {
    border: 2px solid black;
    background: orange;
    display: block;
    margin: 50px 0px;
}
p#ghost {
    display: none;
}
*/

.padre {
    width: 250px;
    height: 250px;
    margin: 25px;
    background: orange;
    overflow: hidden;
}
/*
.padre > div {
    display: inline-block;
}
*/

.hijo2 {
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;

}
.hijo1 {
    width: 50px;
    height: 50px;
    background: red;
    display: inline-block;
    z-index: 99;
    position: relative;
    top: -25px;
}

.oculto {
    visibility: hidden;
}
.transparencia {
    opacity: 0.2;
}

/* 
Visibilidad:
    z-index: Posicionar un elemento por encima o debajo de otro.
    visibility: hidden (Oculta un elemento).
    opacity: Transparencia de un elemento.
    overflow: hidden (Lo que sobresale no se muestra). 
*/